.header {
  line-height: 1.2;
  font-weight: 400;
}
.headerAuthor {
  font-weight: 500;
}
.paragraph {
  width: 50%;
  line-height: 1.7;
}

.githubList {
  text-decoration: none;
  line-height: 2;
  color: black;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

a::after {
  content: "";
  height: 2px;
  width: 0;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
